/*CSS Reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background: var(--background-color);
    color: var(--text-color);
    font-family: "Lato", sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
}


main,
header,
footer,
aside {
    line-height: normal;
}

header {
    
}

main {
    background-image: url(../img/Headerbild_Blog.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* Set base font properties */
html {
    font-size: 16px;
}

:root {
    font-size: clamp(0.8em, 1.5vw, 1.2em);

    /* Fonts */
    --font-header: "Montserrat", sans-serif;
    --font-header-weight: 600;
    --font-header-style: normal;

    --font-paragraph: "Handlee", sans-serif;
    --font-paragraph-weight: 400;
    --font-paragraph-style: normal;

    /*--------------------------------------------------*/
    /* Colors */
    --text-color: hsl(0, 0%, 100%);
    --background-color: hsl(191, 94%, 95%);
}

h1 {
    font-size: 2rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color);
}

p {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
}

body {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
}



button {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
    padding: .5em;
    background: hsla(191, 94%, 50%);
    min-height: 50px;
    min-width: 216px;
    border-radius: .5em;
}

button:hover {
    background: hsla(191, 94%, 70%);
}

footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 1em;
    border-top: .5px solid grey;
}

footer>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}




    

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    text-align: end;
    border: 2px solid black;
    border-radius: 15px;

    padding: 30px;

}

.login-form > h1 {
    padding-bottom: 25px;
}



.login-form input {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
    margin-bottom: 2em;
    padding: .5em;
    border-radius: .5em;
    z-index: 0;
    background: white;
}


.login-form div {
    position: relative;
}

.login-form div label {
    position: absolute;
    top: -1.25em;
    z-index: 10;
}


/* produkter */


.pc-row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid #2a2f3a;
}

.pc-row img {
  width: 160px;
  border-radius: 6px;
}


.pc-info {
  flex: 1;
}


.pris {
  font-size: 1.1rem;
  color: #58a6ff;
  margin-right: 1rem;
}

.Produkter-button {
  padding: 0.5rem 1.2rem;
  background: transparent;
  border: 1px solid #58a6ff;
  color: #58a6ff;
  border-radius: 5px;
  cursor: pointer;
}

.Produkter-button:hover {
  background: #58a6ff;
  color: #000;
}
