/*CSS Reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background: var(--background-color);
    color: var(--text-color);
    font-family: "Lato", sans-serif;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    place-items: center;
}


main,
header,
footer,
aside {
    line-height: normal;
}

/* 
main {
    
} */


/* Set base font properties */
html {
    font-size: 16px;
}

:root {
    font-size: clamp(0.8em, 1.5vw, 1.2em);

    /* Fonts */
    --font-header: "Montserrat", sans-serif;
    --font-header-weight: 600;
    --font-header-style: normal;

    --font-paragraph: "Handlee", sans-serif;
    --font-paragraph-weight: 400;
    --font-paragraph-style: normal;

    /*--------------------------------------------------*/
    /* Colors */
    --text-color: rgb(239, 243, 244);
    --background-color: hsl(191, 94%, 95%);
}

h1 {
    font-size: 2rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color);
}

p {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
}

body {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
}



button {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
    padding: .5em;
    background: hsla(191, 94%, 50%);
    min-height: 50px;
    min-width: 260px;
    border-radius: .5em;
}

button:hover {
    background: hsla(191, 94%, 70%);
}

footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 1em;
    border-top: .5px solid grey;
}

footer>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}




/* login og ny bruker */

.login-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2em;
    text-align: end;
    border: 2px solid black;
    border-radius: 15px;
    color:#000;
    padding: 30px;

}

.login-form>h1 {
    padding-bottom: 25px;
}



.login-form input {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
    margin-bottom: 2em;
    padding: .5em;
    border-radius: .5em;
    z-index: 0;
    background: white;
    color: #000;
}


.login-form div {
    position: relative;
    color: #000;
}

.login-form div label {
    position: absolute;
    top: -1.25em;
    z-index: 10;
    color: #000;
}


/* produkter */


.pc-row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border-bottom: 1px solid #2a2f3a;
    background: rgba(255, 255, 255, 0.24);

}

.pc-row img {
    width: 160px;
    border-radius: 6px;
}


footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 1em;
    border-top: .5px solid grey;
}

footer>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}

/*header*/

header{
    width: 100%;
    display: flex;
    height: 4rem;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    justify-content: space-between;
    width: 100%;
}

header>#hopfiks-logo{
    height: 100%;

}

header>#hopfiks-logo>img{
    width: 100%;
    height: 100%;

}

#burger-menu {
    position: absolute;
    top: 1rem;
    left: 100px;
    padding: 12px;
    height: 6rem;
    
}

#facebook-logo {
    top: 2rem;
    right: 10px;
    width: auto;
    height: 100%;
    
}

#facebook-logo>img{
    width: 100%;
    height: 100%;
}


#burger-menu>img{
    width: 100%;
    height: 100%;
   
}

#burger-menu-content{
    position: absolute;
    top:0px;
    background-color:rgb(52, 97, 127);
    width: 14vw;
    color: rgb(179, 219, 245);
    display: none;
    margin-left: -10px;
}


#closeButton {
    background-color:rgb(52, 97, 127);
    color: white;

 }

 #menuDiv {
    display: flex;
    flex-direction: column;

 }

 #omOssButton {
     background-color: rgb(63, 107, 136);
     color: rgb(255, 255, 255);
     
 }
 
 #closeButton {
     display: flex;
     justify-content: start;
 }

 #loginButton {
    background-color: rgb(63, 107, 136);
    color: rgb(255, 255, 255);
 }

    
#loginButton:hover {
    background-color: rgb(100, 150, 180);
 }

#omOssButton:hover {
    background-color: rgb(100, 150, 180);
}

#produketButton {
    background-color:rgb(63, 107, 136);
    color: rgb(255, 255, 255);
}

#produketButton:hover{
    background-color: rgb(100, 150, 180);
}

/*Produkter*/

.pc-info {
    flex: 1;
}


.pris {
    font-size: 1.1rem;
    color: #58a6ff;
    margin-right: 1rem;
}

.Produkter-button {
    padding: 0.5rem 1.2rem;
    background: transparent;
    border: 1px solid #58a6ff;
    color: #58a6ff;
    border-radius: 5px;
    cursor: pointer;
}

.Produkter-button:hover {
    background: #58a6ff;
    color: #000;
}

