/*CSS Reset*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    background: var(--background-color);
    color: var(--text-color);
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

#grad1 {
    height: 4rem;
    background-color: #228CA9;
    background-image: linear-gradient(to right, #206580ff , #25aa79ff);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}


main,
header,
footer,
aside {
    line-height: normal;
}




/* Set base font properties */
html {
    font-size: 16px;
}

:root {
    font-size: clamp(0.8em, 1.5vw, 1.2em);

    /* Fonts */
    --font-header: "Montserrat", sans-serif;
    --font-header-weight: 600;
    --font-header-style: normal;

    --font-paragraph: "Handlee", sans-serif;
    --font-paragraph-weight: 400;
    --font-paragraph-style: normal;

    /*--------------------------------------------------*/
    /* Colors */
    --text-color: rgb(3, 77, 94);
    --background-color: hsl(191, 94%, 95%);
}

h1 {
    font-size: 2rem;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    color: var(--text-color);
}

p {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
}

body {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    text-align: end;
}

.login-form input {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
    margin-bottom: 2em;
    padding: .5em;
    border-radius: .5em;
    z-index: 0;
    background: white;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white;
}

.login-form div {
    position: relative;
}

.login-form div label {
    position: absolute;
    top: -1.25em;
    z-index: 10;
}

button {
    font-size: 1rem;
    font-family: var(--font-paragraph);
    font-weight: var(--font-paragraph-weight);
    font-style: var(--font-paragraph-style);
    color: var(--text-color);
    padding: .5em;
    background: hsla(191, 94%, 50%);
    min-height: 50px;
    min-width: 50px;
    border-radius: .5em;
}

button:hover {
    background: hsla(191, 94%, 70%);
}


footer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 1em;
    border-top: .5px solid grey;

}

footer>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}

header{
    display: flex;
    height: 4rem;
    background-color: rgba(255,255,255,0.2);
    padding: 10px;
    justify-content: space-between;
}

header>#hopfiks-logo{
    height: 100%;

}

header>#hopfiks-logo>img{
    width: 100%;
    height: 100%;

}

#burger-menu {
    position: absolute;
    top: 1rem;
    left: 100px;
    padding: 12px;
    height: 6rem;
    
}

#facebook-logo {
    top: 2rem;
    right: 10px;
    width: auto;
    height: 100%;
    
}

#facebook-logo>img{
    width: 100%;
    height: 100%;
}


#burger-menu>img{
    width: 100%;
    height: 100%;
   
}

#burger-menu-content{
    position: absolute;
    top:0px;
    background-color: rgb(103, 134, 155);
    width: 20vw;
    color: rgb(179, 219, 245);
    display: none;
}


#closeButton {
    background-color: rgb(18, 118, 166);
    color: white;

 }

 #menuDiv {
    display: flex;
    flex-direction: column;
 }