body {
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    padding: 2em;
    display: flex;
    width: 100%;
    justify-content: space-between;
}


button {
    border-radius: 5em;
    position: relative;
}

button img{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}