main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

main>div>div {
    background: rgb(105, 104, 104);
    width: 30vw;
    aspect-ratio: 16 / 9;
}

textarea{
    width: 100%;
    height: 5em;
    resize: none;
}